<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">

            <h3>Create a new Listing</h3>
    <form  method="post" action="/listings/add" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="text" class="form-label">Title</label>
             <input type="text" id="text" class="form-control" name="title" placeholder="Add a catchy title" required>
             <div class="valid-feedback">Add a catchy title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
           <textarea  name="description" id="description" class="form-control" required></textarea> 
           <div class="invalid-feedback">Description should be valid</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" id="image" class="form-control"  name="image" >
            <div class="invalid-feedback">Image Link should be valid</div>
        </div>
        <div class="row">
            <div class="mb-3  col-md-4">
                <label for="price" class="form-label">Price</label>
                <input  class="form-control" id="price"name="price" placeholder="1200" required> 
                <div class="invalid-feedback">Description should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="India" required>
                <div class="invalid-feedback">Country should be valid</div>

            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-ontrol"  name="location" placeholder="Jaipur,Rajasthan" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        
        <button class="btn btn-dark add-color">add</button>
        <br><br>
    </form>
</div>
</div>
</body>
